<div class="container">
<div class="row">
<form>
<BR>
<div class="col-md-12">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Hi buddy ! what movie would you like me to search for you today ?" #moviename (keyup)=search(moviename.value) autofocus>
  </div>
</div>
 </form>
</div>
</div>
<br>
<div class="container">
 <div class="row">
 <div *ngIf="movies">
 	<div *ngFor="let movie of movies"> 
 		<div class="col-md-3">
 			<img src="{{movie.Poster}}" class="img-responsive">
 			<h4>{{movie.Title}} ({{movie.Year}})</h4>
 			<a class="btn btn-default" role="button"[routerLink]="['/movie', movie.imdbID]">View more</a>
 		</div>
 	</div>
 </div>
 </div>
</div>